## Lab 19 - Functions and conditional statements

We will return to the MoMA artwork dataset from Lab 5 for this lab.  The data is available on GitHub at the URL: [https://media.githubusercontent.com/media/MuseumofModernArt/collection/master/Artworks.csv](https://media.githubusercontent.com/media/MuseumofModernArt/collection/master/Artworks.csv)

More information about the data is available at [https://github.com/MuseumofModernArt/collection](https://github.com/MuseumofModernArt/collection).

### 19.1 Loading and cleaning the data

First import the required libraries.

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

Load the data into a dataframe called `art` directly from the URL (see Lab 5 if you don't remember how to do this).  The date column, which is the date the art was created, uses several different terms to indicate the date is unknown.  To replace these with NaN (Pandas' representation for missing data), use the parameter `na_values = ["Unknown", "n.d.", "nd", "n.d", "TBC","TBD"]` in your `read_csv()` function.

We will next drop the rows with missing values in the Gender, Date, and Nationality columns.  We don't want to drop rows with missing values in any column because many of the dimensions (last 9 columns) are missing, since they are not applicable.

In [ ]:
art = art.dropna(subset=['Gender','Date', 'Nationality'])
art.head()

### 19.2 Number of artists for each artwork

Suppose we want to know how many pieces of art are made by 1 artist, 2 artists, etc.  There is no column with this information, but we can get it from the `Gender` column.

First, use `value_counts()` to show the different possible values in the `Gender` column.

How can you tell from the `Gender` column how many artists (or other entities, like companies) created an artwork?

We are going to count how many ( are in the `Gender` column in each row and store that number in a new column, representing the number of artists.

To do the counting, we define a function that outputs (returns) the the number of times a ( appears in the input x:

In [ ]:
def count_artists(x):
    return x.count("(")

We can call (run) our function on some sample `Gender` column values to test it out:

In [ ]:
count_artists("(Female)")

In [ ]:
count_artists("(Male) (Male)")

In [ ]:
count_artists("() (Male)")

Does our function look like it works?  We can apply it to all rows in the `Gender` column and store the output in a new column called `NumArtists`.

In [ ]:
art["NumArtists"] = art["Gender"].apply(count_artists)

Display the dataframe `art`.  Is your new column there?  Check a few of the rows to see if it is correct.

Create a bar plot of the number of artists for each work.

### 19.3 Number of American artists for each artwork

What about if we wanted to know which pieces of art were made by an American, and exactly how many American artists were involved?  

Try to make a new function called `count_Americans` that counts how many times `(American)` appears in the input `x`.

<details> <summary>Answer:</summary>
    <code>def count_Americans(x):
    return x.count("(American)")</code>
</details>

Now, apply your function to the `Nationality` column to create a new column called `NumAmericans`.

<details> <summary>Answer:</summary>
    <code>art["NumAmericans"] = art["Nationality"].apply(count_Americans)</code>
</details>

Display `art` to check that the new column was created correctly.

Create a bar plot of the number of Americans for the artworks.

How does the plot change from the number of artists one?

### 19.4 Grouping artwork by date

Suppose we want to assign each piece of art to Pre-Modern (created before 1860), Modern (created 1860 - 1845), or Contemporary (created after 1945).

We can make a function that takes in the date and outputs the period.  Some of the dates are given as ranges or as c. 1900, so we will just assign those to the period "Range" (for range of dates).

In [ ]:
def period(x):
    if len(x) > 4:
        return "Range"
    elif int(x) < 1860:
        return "Pre-Modern"
    elif int(x) <= 1945:
        return "Modern"
    else:
        return "Contemporary"

Can you apply this function to the column `Date` to create a new column `Period`?

<details> <summary>Pattern:</summary>
    <code>df["NewColumnName"] = df["ExistingColumn"].apply(name_of_function)</code>
</details>

Display `art` to check that the column `Period` was created correctly.

Now make a bar chart of the distribution of art period.

### Challenge:  Area of round objects
Some of the artwork have a diameter.  Create a new dataframe of only objects with a value in this column by dropping the rows with missing values.  Assuming these objects are all 2D (a big assumption!), let's create a new column with the area of this art.  Remember that:

area = $\pi$(diameter/2)^2

You can get the value of $\pi$ with `np.pi`.